@page "/"
@using WebMessenger.Web.Services

@inject IAuthState AuthState
@inject IUserState UserState
@inject ChatViewState ChatViewState

<PageTitle>Web messenger - @_title</PageTitle>

@if (_isAuthorized)
{
  <main class="main-page">
    <CascadingValue Value="_modalView" Name="GlobalModal">
      <ModalView @ref="_modalView" />
        
      <ModalTemplate @ref="_profile" Title="Мій профіль">
        <UserProfileView
          Model="_selectedUser"
          IsOwn="_selectedUser.Id == UserState.User.Id"
          OnToChat="CreatePrivateChat" />
      </ModalTemplate>
      
      <ModalTemplate @ref="_createChatForm" Title="Створити новий чат">
        <EditChatForm Model="_createGroupModel" OnValidSubmit="HandleCreateChat" />
      </ModalTemplate>

      <ModalTemplate @ref="_chatInfo" Title="Про групу">
        <ChatManagementModal Chat="_selectedChat" />
      </ModalTemplate>

      <aside class="main-page__sidebar sidebar">
        <div class="sidebar__inner">
          <div class="sidebar__top">
            <div class="sidebar__item">
              <article class="profile-bar">
                <div class="profile-bar__left">
                  <div class="profile-bar__user">
                    @if (@UserState.User != null)
                    {
                      <div class="profile-bar__avatar">
                        <Avatar Url="@UserState.User.AvatarUrl" Width="50" Height="50"/>
                      </div>

                      <div class="profile-bar__info">
                        <p class="profile-bar__full-name user-full-name">@UserState.User.Name</p>
                        <p class="profile-bar__username">@@@UserState.User.UserName</p>
                      </div>
                    }
                    else
                    {
                      <p>...</p>
                    }
                  </div>
                </div>

                <div class="profile-bar__right">
                  <button class="btn btn_opacity btn_icon" @onclick="OpenUserProfile">
                    <MenuBurgerIcon/>
                  </button>

                  <ThemeSwitcher />
                </div>
              </article>
            </div>

            <div class="sidebar__item">
              <div class="sidebar__tools">
                <div class="sidebar__search-wrapper">
                  <input class="field"
                         type="text"
                         @bind="_searchQuery"
                         @oninput="HandleSearchQueryChange"
                         placeholder="Пошук..."/>
                </div>

                <div class="sidebar__create-chat-wrapper">
                  <button class="btn btn_opacity btn_icon" type="button" @onclick="() => { _createChatForm.Open(); }">
                    <PlusIcon/>
                  </button>
                </div>
              </div>
            </div>
          </div>
          
          <div>
            @if (string.IsNullOrEmpty(_searchQuery))
            {
              <ChatList />
            }
            else
            {
              <SearchList OnClickItem="HandleClickItem" @ref="_searchList" />
            }
          </div>
        </div>
      </aside>

      <div class="main-page__content @(ChatViewState.IsShowing ? "show" : "")">
        <ChatView />
      </div>
    </CascadingValue>
  </main>
}
else
{
  <Loading Title="Автентифікація користувача..." />
}
