@inject IUserState UserState

<Modal Controller="ModalController">
  @if (UserState.User != null)
  {
    <section class="profile-modal__section profile-modal__section_content_center">
      <div class="profile-modal__item">
        <Avatar Url="@UserState.User.AvatarUrl" Width="120" Height="120"/>
      </div>
      
      @if (UserState.User.Name != null)
      {
        <div class="profile-modal__item">
          <p class="user-full-name">@UserState.User.Name</p>
        </div>
      }

      @if (UserState.User.Bio != null)
      {
        <div class="profile-modal__item">
          <p>@UserState.User.Bio</p>
        </div>
      }
    </section>

    <section class="profile-modal__section">
      <div class="profile-modal__item">
        <p class="profile-modal__user-field color-accent">@UserState.User.Email</p>
        <p class="small-text">Ел. пошта</p>
      </div>
      
      <div class="profile-modal__item">
        <p class="profile-modal__user-field color-accent">@@@UserState.User.UserName</p>
        <p class="small-text">Ім'я користувача</p>
      </div>
    </section>

    <section class="profile-modal__section">
      <div class="profile-modal__item profile-modal__item_flex_between">
        <button class="btn btn_opacity" @onclick="SwitchSettings">
          <SettingsIcon />
          Налаштування
          <VerticalArrowIcon ToDown="@(!_isShowSettings)" />
        </button>

        <button class="btn btn_opacity" @onclick="HandleLogout">
          <LogoutIcon />
          Вийти
        </button>
      </div>
      
      <div class="profile-modal__item">
        <article class="settings @(_isShowSettings ? "settings_show" : "")">
          <div class="settings__container">
            <section class="settings__section">
              <EditForm Model="_updateAccountDataModel" OnValidSubmit="SaveAccountData">
                <h4 class="settings__label settings__item">
                  Облікові дані
                </h4>
                
                <div class="settings__item">
                  <InputText class="field"
                             id="username"
                             type="text"
                             @bind-Value="_updateAccountDataModel.UserName"
                             placeholder="Нове ім'я користувача..."/>
                </div>
                
                <div class="settings__item">
                  <InputText class="field"
                             id="name"
                             type="text"
                             @bind-Value="_updateAccountDataModel.Name"
                             placeholder="Нове ім'я..."/>
                </div>

                <div class="settings__item">
                  <InputTextArea class="text-area"
                                 id="bio"
                                 @bind-Value="_updateAccountDataModel.Bio"
                                 placeholder="Опис профілю..."/>
                </div>
                
                <div class="settings__item">
                  <button class="btn btn_opacity" disabled="@_isLoadingAccountData">
                    @if (_isLoadingAccountData)
                    {
                      <span>Зачекайте...</span>
                    }
                    else
                    {
                      <span>Зберегти</span>
                    }
                  </button>
                </div>

                @if (_isSuccessAccountData)
                {
                  <div class="settings__item">
                    <p class="color-success">Зміни збережено</p>
                  </div>
                }
              </EditForm>
            </section>

            <section class="settings__section">
              <EditForm EditContext="_passwordChangeFormEditContext" OnValidSubmit="ChangePassword">
                <DataAnnotationsValidator />
                
                <h4 class="settings__label settings__item">
                  Змінити пароль
                </h4>

                <div class="settings__item">
                  <InputText class="field"
                             id="oldPassword"
                             type="password"
                             Value="@_changePasswordModel.OldPassword"
                             ValueChanged="val => _changePasswordModel.OldPassword = val"
                             ValueExpression="() => _changePasswordModel.OldPassword"
                             placeholder="Старий пароль..."/>
                  <ValidationMessage class="auth-page__field-error" For="() => _changePasswordModel.OldPassword"/>
                </div>

                <div class="settings__item">
                  <InputText class="field"
                             id="newPassword"
                             type="password"
                             Value="@_changePasswordModel.NewPassword"
                             ValueChanged="val => _changePasswordModel.NewPassword = val"
                             ValueExpression="() => _changePasswordModel.NewPassword"
                             placeholder="Новий пароль..."/>
                  <ValidationMessage class="auth-page__field-error" For="() => _changePasswordModel.NewPassword"/>
                </div>

                <div class="settings__item">
                  <InputText class="field"
                             id="newPasswordConfirm"
                             type="password"
                             Value="@_changePasswordModel.ConfirmNewPassword"
                             ValueChanged="val => _changePasswordModel.ConfirmNewPassword = val"
                             ValueExpression="() => _changePasswordModel.ConfirmNewPassword"
                             placeholder="Повторіть новий пароль..."/>
                  <ValidationMessage class="auth-page__field-error" For="() => _changePasswordModel.ConfirmNewPassword"/>
                </div>

                <div class="settings__item">
                  <button class="btn btn_opacity" disabled="@_isLoadingPassword">
                    @if (_isLoadingPassword)
                    {
                      <span>Зачекайте...</span>
                    }
                    else
                    {
                      <span>Змінити</span>
                    }
                  </button>
                </div>

                @if (_isSuccessPassword)
                {
                  <div class="settings__item">
                    <p class="color-success">Пароль змінено</p>
                  </div>
                }
              </EditForm>
            </section>

            <section class="settings__section">
              <h4 class="settings__label settings__item">
                Видалення
              </h4>
              
              <div class="settings__item" @onclick="DeleteAccount">
                <button class="btn">
                  Видалити обліковий запис
                </button>
              </div>
            </section>
          </div>
        </article>
      </div>
    </section>
  }
</Modal>